[[redirects]]
  from = "/api/*"
  to = "https://aizero-website-api.graybeach-8b78e2a5.westus2.azurecontainerapps.io/api/:splat"
  status = 200
  force = true

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
